<ul class="nav text-bg-primary p-3">
            <li><a class="nav-link text-bg-primary" aria-current="page" href="/">Inicio</a></li>
            <li><a class="nav-link text-bg-primary" aria-current="page" href="/admin/juegos">Administración</a></li>
            <li><a class="nav-link text-bg-primary" aria-current="page" href="/admin/juegos/nuevo">Añadir juego</a></li>
</ul>